<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}abhaya.dev{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js" integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V" crossorigin="anonymous"></script>
</head>

<body>
        <div class="container">
        <div class="header">
            <div class="logo">
                <a href="/"><h1>abhaya.dev</h1></a>
            </div>
            <div class="nav">
                <a href="/blogs">writings</a>
                <a href="/photos">photos</a>
                <a href="/books">books</a>
            </div>
        </div>
        {% block content %}
            
        {% endblock %}
        <div class="footer">
            <p>
                &copy; 2025 abhaya.dev
            </p>
        </div>
    </div>
</body>
</html>
